.sidebar-wrapper {
  .profile-container {
    padding: 30px 10px;

    .profile-img {
      max-width: 100px;
      margin-bottom: 15px;
      border: 0px solid #ffffff;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
    }

    h4 {
      margin-top: 10px;
      font-size: 18px;
    }
  }

  .skills-section {
    padding: 0 10px;
  }

  .contact-container {
    padding: 30px 0;

    .contact-list {
      padding: 0 30px;
      margin-bottom: 30px;
    }
  }
}

.section-title {
  .fa-layers {
    background-color: white;
    margin-right: 5px;
    top: 4px;

    svg.svg-inline--fa {
      left: -3px;
    }
  }

  .fa-circle {
    color: darken($theme-color, 15%);
  }

  .fa-inverse {
    color: white;
  }
}

.skills-section {
  li {
    margin-bottom: 10px;
  }
}

.tools {
  .badge {
    font-size: 14px;
    background: lighten($theme-color, 10%);
    margin-bottom: 5px;
    border: none;
  }
}

@media screen {
  .only-print {
    display: none;
  }
}
